<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr th:each="student : ${studentList}">
        <td th:text="${student.getStudentImie()}"></td>
        <td th:text="${student.getStudentNazwisko()}"></td>
        <td th:text="${student.getStudentIndeks()}"></td>
        <td th:text="${student.getStudentPesel()}"></td>
        <td>
            <a th:href="@{'/removeStudent?studentId=' + ${student.getStudentId()}}">Remove</a>
        </td>
    </tr>
</table>
</body>
</html>